{% extends 'base.html' %}
{% block content %}

<div class="auth-container">

    <div class="card shadow p-4 auth-card">

        <h3 class="text-center mb-3">Login</h3>

        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-danger">{{ m }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input type="text"
                   name="username"
                   class="form-control mb-2"
                   placeholder="Username">

            <input type="password"
                   name="password"
                   class="form-control mb-3"
                   placeholder="Password">

            <button class="btn btn-success w-100">
                Login
            </button>
        </form>

        <p class="text-center mt-3">
            Don't have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>

    </div>

</div>

{% endblock %}