{% extends 'base.html' %}

{% block content %}

<!-- Support Requests -->
<div class="card shadow-sm p-3">
    <h5>Support Requests</h5>

    {% for r in requests %}
        <div class="border rounded p-2 mt-2">
            <b>{{ r.title }}</b>
            <p>{{ r.description }}</p>
        </div>
    {% empty %}
        <p class="text-muted">No request</p>
    {% endfor %}
</div>


<!-- Messaging -->
<div class="card shadow-sm p-3 mt-3">

    <h5 class="mb-3">Conversations</h5>

    {% for convo in conversations %}

        <div class="d-flex justify-content-between align-items-center border rounded p-2 mt-2">

            <div class="d-flex align-items-center">

                <!-- Profile Icon -->
                <div class="rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center me-3"
                     style="width:45px;height:45px;">

                    👤
                </div>

                <div>
                    <b>Anonymous Student #{{ convo.student.id }}</b>
                    <br>
                    <small class="text-muted">
                        Tap to open conversation
                    </small>
                </div>

            </div>

            <div>

                <a href="{% url 'chat' convo.id %}"
                   class="btn btn-success btn-sm">
                    Open
                </a>

                <a href="{% url 'delete_conversation' convo.id %}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </div>

        </div>

    {% empty %}
        <p class="text-muted">No conversations yet.</p>
    {% endfor %}

</div>

{% endblock %}