{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h2>Available Slots</h2>

    {% if slots %}
        <ul class="list-group mt-3">
            {% for slot in slots %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>
                        {{ slot.date }} - {{ slot.time_slot }}
                    </span>

                    <a href="{% url 'book_slot' slot.id %}" class="btn btn-success btn-sm">
                        Book
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No slots available.</p>
    {% endif %}

</div>
{% endblock %}